/* General styles */
body {
  font-family: "Roboto", sans-serif; /* Modern font */
  background-color: #121212; /* Dark theme */
  color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container for login box */
.login-container {
  background: linear-gradient(145deg, #1f1f1f, #2a2a2a); /* Dark gradation */
  border-radius: 15px;
  width: 400px;
  padding: 40px 30px; /* Increased padding for spaciousness */
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3),
    -8px -8px 20px rgba(255, 255, 255, 0.05); /* Soft shadow */
  transition: box-shadow 0.3s ease;
}

.login-container:hover {
  box-shadow: 12px 12px 25px rgba(0, 0, 0, 0.4),
    -12px -12px 25px rgba(255, 165, 0, 0.1);
}

/* Header text */
.login-container h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
  color: #fff; /* Accent color for header */
}

/* Button styling */
#login-btn {
  background-color: #d32f2f; /* Primary button color */
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

#login-btn:hover {
  background-color: #8a3131; /* Lighter orange on hover */
  transform: translateY(-1px); /* Subtle lift effect */
}
.login-container input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    width: 90%;
}

input {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #d32f2f;
}

.logo img {
    max-height: 30px; /*Adjust the logo size if necessary*/
    margin-bottom: 12px;
  }
  

/* video session  */

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the whole container */
    z-index: -100; /* Send video to the back */
  }
  
  .content {
    position: relative; /* Position relative to the video */
    z-index: 1; /* Sits on top of the video */
    color: white; /* Text color */
  
    /* Add a semi-transparent background */
    background-color: rgba(0, 0, 0, 0.7); /* Black with 70% opacity */
    border-radius: 8px; /* Round the corners for a softer look */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.8
    ); /* Adjust the rgba values for the overlay color and transparency */
    z-index: 0; /* Make sure it sits above the video */
  }


/* Responsive styles */
@media (max-width: 600px) {
  .login-container {
    width: 90%;
    padding: 30px 20px; /* Adjusted padding for smaller screens */
  }

  #login-btn {
    padding: 12px;
    font-size: 16px;
  }

  .login-container h2 {
    font-size: 24px; /* Adjust header size */
  }
}
